*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
kbd{
    width: 4em; height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    position: absolute;
    right: 3px;
    bottom: 3px;
    display: inline-block;
    opacity: 0;
    background: rgb(80,80,80);
    color: white;
    border: none;
    border-radius: 8px;
    width: 20px;
    height: 20px;
}
kbd:hover > button{
    display: inline-block;
    opacity: 1;
    transition: 0.3s linear;
}
#main{
    display: inline-block;
}
body{
    background: rgb(229,229,229) url(./wall.jpg) no-repeat center center;
    background-size: cover;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.key{
    width: 47px;
    height: 69px;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 69px;
    margin: 0 12px 12px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.row:nth-child(5)>kbd,
.row:nth-child(4)>kbd:nth-child(9),
.row:nth-child(4)>kbd:nth-child(10),
.row:nth-child(4)>kbd:nth-child(1),
.row:nth-child(4)>kbd:nth-child(11),
.row:nth-child(4)>kbd:nth-child(12),
.row:nth-child(3)>kbd:nth-child(13),
.row:nth-child(3)>kbd:nth-child(1),
.row:nth-child(3)>kbd:nth-child(12),
.row:nth-child(3)>kbd:nth-child(11),
.row:nth-child(2)>kbd:nth-child(12),
.row:nth-child(2)>kbd:nth-child(13),
.row:nth-child(2)>kbd:nth-child(14),
.row:nth-child(2)>kbd:nth-child(1),
.row:nth-child(1)>kbd{
    background-color: rgb(60,60,60);
    text-transform: lowercase;
}
.row:nth-child(5)>kbd:nth-child(1){
    width: 67px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(5)>kbd:nth-child(8){
    width: 67px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(5)>kbd:nth-child(4){
    width: 456px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(5)>kbd:nth-child(2),
.row:nth-child(5)>kbd:nth-child(3),
.row:nth-child(5)>kbd:nth-child(5),
.row:nth-child(5)>kbd:nth-child(6),
.row:nth-child(5)>kbd:nth-child(7){
    width: 67px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(4)>kbd:nth-child(1){
    width: 155px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(4)>kbd:nth-child(12){
    width: 155px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(3)>kbd:nth-child(13){
    width: 114px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(2)>kbd:nth-child(1){
    width: 96px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(1)>kbd:nth-child(14){
    width: 96px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(3)>kbd:nth-child(1){
    width: 114px;
    height: 53px;
    padding: 8px 12px 8px 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.row:nth-child(4)>kbd:nth-child(1):hover > button,
.row:nth-child(4)>kbd:nth-child(9):hover > button,
.row:nth-child(4)>kbd:nth-child(10):hover > button,
.row:nth-child(4)>kbd:nth-child(11):hover > button,
.row:nth-child(4)>kbd:nth-child(12):hover > button,
.row:nth-child(3)>kbd:nth-child(1):hover > button,
.row:nth-child(3)>kbd:nth-child(13):hover > button,
.row:nth-child(3)>kbd:nth-child(12):hover > button,
.row:nth-child(3)>kbd:nth-child(11):hover > button,
.row:nth-child(2)>kbd:nth-child(1):hover > button,
.row:nth-child(2)>kbd:nth-child(12):hover > button,
.row:nth-child(2)>kbd:nth-child(13):hover > button,
.row:nth-child(2)>kbd:nth-child(14):hover > button,
.row:nth-child(1)>kbd:hover > button,
.row:nth-child(5)>kbd:hover > button{
    display: none;
}
.key img{
    width: 16px;
    width: 16px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 2px;
}